#boardAndBlocPagination {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#board {
    width: 95%;
    align-self: center;
}

#board > table {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-collapse: collapse;    
}

#boardTitle {
    text-align: center;
    font-size: 1.5em;
}

#board > table > thead, #board > table td {
    border: none;
    padding: 10px;
}

#board > table > thead{
    color: white;
    background-color: #0A3764;
    font-size: 1.2em;
}

#board > table > thead:first-child {
    background-color: #0A3764;
    border-bottom: 1px solid white;
}

#board > table td {
    font-size: 1em;
}

#board > table td a {
    color: #0A3764;

}

#boardItem > td{
    background-color: #dee2e6;
}

#blocPagination {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}

#blocPagination > nav {
    width: 100% !important;
    box-sizing: border-box;
    padding: 0;
}

#blocPagination > nav > ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

#blocPagination > nav > ul > li > a, #blocPagination > nav > ul > li > span{
   width: 100%;
   height: 100%;
   padding: 8px 15px;
    border: 1px solid #dee2e6;
    color: #007bff;
}

.active > * {
    background-color: #007bff;
    color: white !important;
}
.disabled > *{
    color: #212529 !important;
}

@media screen and (max-width: 944px){
    #board > table > thead{
        font-size: 1em;
    }

    #board > table td {
        font-size: 0.9em;
    }
    
}

@media screen and (max-width: 600px){ 
    #blocPagination > nav > ul > li > a, #blocPagination > nav > ul > li > span{
        padding: 5px 8px;
     }
}
 

@media screen and (max-width: 350px){ 
    #board > table td {
        font-size: 0.7em;
        padding-right: 3px;
    }

    #blocPagination > nav > ul > li > a, #blocPagination > nav > ul > li > span{
        padding: 5px 6px;
     }
}
 